<!-- Navigation Bar -->
<div class="header-container">
  <mat-toolbar color="primary" class="toolbar">
    <div class="nav-links">
      <span class="logo">
        <img ngSrc="./../public/images/softronic_logo.png" alt="Softronic" height="303" width="857">
      </span>
      <span class="spacer"></span>
      <nav class="nav-links">
        <a mat-button href="#features">{{'header.features' | transloco}}</a>
        <a mat-button href="#pricing">{{ 'header.pricing' | transloco }}</a>
        <a mat-button href="#about">{{ 'header.about' | transloco }}</a>
      </nav>
    </div>
    <div class="nav-action">
      <button matButton [matMenuTriggerFor]="menu">{{ 'lang' }}</button>
      <mat-menu #menu="matMenu">
        @for (lang of languages; track lang) {
          <button mat-menu-item [value]="lang.value">{{lang.label}}</button>
        }
      </mat-menu>
      <button mat-raised-button color="accent">{{ 'header.register' | transloco }}</button>
      <button mat-raised-button color="accent">{{ 'header.login' | transloco }}</button>
    </div>
  </mat-toolbar>
</div>
