/* Sections */

#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
}

.section {
  padding: 4rem 2rem;
  text-align: center;
}
.section-title-container{
  border-width: 1.5px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: dashed;
  border-color: lightblue;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.section-subtitle {
  color: #555;
  margin-bottom: 2rem;
}

/* Features */
.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;

}

.feature-card {
  padding: 1.5rem;
  text-align: center;
}

.feature-icon {
  font-size: 40px;
  color: #1976d2;
  margin-bottom: 1rem;
}
