/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  background: linear-gradient(to right, darkblue, darkcyan);
  text-align: center;

}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1400px;
  gap: 3rem;
}

.hero-text {
  /*flex: 1;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  color: whitesmoke;
}

.hero-text-section{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 300px;
}

.hero-buttons {
  padding: 2rem 0;
}

h1 {
  font-size: 4rem;
  max-width: 600px;
}

p{
  font-size: 1.25rem;
  max-width: 590px;
}

img{
  max-width: 125%;
}
